@font-face {
    font-family: Acme;
    src: url('Acme-regular.ttf');
}

body {
    font-family: Acme, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: url('stardust.png');
    background-repeat: repeat;
}

#ajaxResults {
    font-family: 'Times New Roman', Times, serif;
    background: lightgray;
    color: navy;
    display: none;
}
#back, #reset{
    background: midnightblue;
    color: beige;
}
.mdl-card {
    cursor: pointer;
}

#bdayQuestion {
    background: darkcyan;
    color: lightcyan;
}
#cards {
    display: none;
    background: slategray;
    color: forestgreen;
    width: 100%;
}

#back {
    display: none;
}

#reset {
    display: none;
}

.cen {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 32%;
}

.cen2 {
    clear: both;
}