@font-face {
    font-family: Acme;
    src: url('Acme-regular.ttf');
}

/* colors  
primary font - #164059 
background - #0A0D0C
secondary font - #4A8C67
dark font - #224024
alt font - #337329
*/


/* body {
    font-family: Acme, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: url('stardust.png');
    background-repeat: repeat;
} */

/* #ajaxResults {
    font-family: 'Times New Roman', Times, serif;
    background: #0A0D0C;
    color: #164059;
    display: none;
} */

/* #back, #reset{
    background: #164059;
    color: #4A8C67;
} */

/* .mdl-card {
    cursor: pointer;
} */

/* #bdayQuestion {
    background: #0A0D0C;
    color: #4A8C67;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 29%;
    width: 100%;
}
#bdayForm {
    width: 50% !important;
    left: 25%;
    position: relative;
} */

/* #cards {
    display: none;
    width: 100%;
} */

/* #back {
    float: right;
    display: none;
} */

/* #reset {
    display: none;
} */

/* .cen {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 31%;
} */
/* .demo-card-wide {
    background: #0A0D0C;
} */

/* .mdl-card__title-text{
    color: #4A8C67;
}
.mdl-card__supporting-text {
    color: #337329;
} */

/* .cen2 {
    clear: both;
} */

/* #submit{
    color: #4A8C67;
} */

/* #error {
    display: none;
    font-family: sans-serif;
    margin-bottom: 0;
    font-size: 18px;
    color: lightyellow;
    letter-spacing: 1.5px;
} */

@media screen and (max-width: 850px){
    .cen { float: none; width: 100%; }
    #cards { width: 97% };
}
@media screen and (max-width: 515px){
    .cen { justify-content: left; width: 100%;}
    #cards { width: 96% };
}
@media screen and (min-width: 840px){
    .mdl-grid { padding: 8px 0 0 0; }
}